<div class="container dynamicTile">
  <div class="row ">
    {{#each projects}}
      <div class="col-xs-4">
          <div class="tile" style="background: linear-gradient(to left, {{bkgd_grad_start}}, {{bkgd_grad_end}});">
            <div class="project-title">{{project_name}}</div>
            <div class="project-description">{{description}}</div>
            <div class="technologies">Technologies:</div>
            <div>
              {{#each tags}}
                <span class="label" style="background-color: {{color}}">{{name}}</span>
              {{/each}}
            </div>
            <div class="item">
                <img src="{{image_url}}" class="tile-img img-responsive" />
            </div>
            <br>
            <div class="text-center">
                <a href="{{repo_url}}" target="_blank"><img src="images/github_icon.png" class="icon" />Github Repo</a>
                <a href="{{deploy_url}}" target="_blank"><img src="images/heroku_icon.png" class="icon" />Live App</a>
            </div>
          </div>
      </div>
    {{/each}}
  </div>
</div>
